<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.idinfor.smartrelationship" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission
        android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".OnListeningStateChangedReceiver">
            <intent-filter>
                <action android:name="us.idinfor.smartrelationship.ACTION_START_LISTENING" />
                <action android:name="us.idinfor.smartrelationship.ACTION_STOP_LISTENING" />
            </intent-filter>
        </receiver>
        <!-- Wifi -->
        <receiver android:name=".wifi.OnWifiScanResultReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.net.wifi.SCAN_RESULTS"/>
            </intent-filter>
        </receiver>
        <!-- Bluetooth -->
        <receiver android:name=".bluetooth.OnBluetoothScanResultReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.FOUND"/>
                <action android:name="android.bluetooth.adapter.action.DISCOVERY_STARTED"/>
                <action android:name="android.bluetooth.adapter.action.DISCOVERY_FINISHED"/>
            </intent-filter>
        </receiver>
        <!-- Activity Recognition -->
        <receiver android:name=".activityrecognition.ActivityRecognitionReceiver"/>

        <receiver android:name=".OnAlarmReceiver"/>
        <service android:name=".audio.AudioRecorderService" android:exported="false"/>
        <service android:name=".bluetooth.BluetoothScanService" android:exported="false"/>
        <service android:name=".wifi.WifiScanService" android:exported="false"/>
        <service android:name=".activityrecognition.OnActivityRecognitionResultService" android:exported="false"/>
        <service android:name=".deviceorientation.OrientationService" android:exported="false"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="89731ccf522fdfecb6be5dc0e9cd46c7a631eb34" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
